[Desktop Entry]
Version=1.0
Type=Application
Name=Linia
Comment=
Exec=sudo /home/mnipi/Linia.sh
Icon=
Path=/mnt/nvme/Linia/sources/generated/Linia2
Terminal=true
StartupNotify=false
