*~*
archive.zip

vcpkg_installed/*

old/*
sources/generated/*
sources/installer/win/files/*
sources/ThirdParty/wxWidgets/generated/*
sources/scripts/vs_win/full_build.bat

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Listings-Debug/*
sources/Device/Objects/*
sources/Device/Objects-Debug/*

.vs/*

sources/*uvgui*
sources/Device/*uvgui*
sources/Device/*uvoptx*
sources/Device/RTE/*

sources/Sunset/resources/resources.aps
